codes/Node-Red/Arduino_DHT_Modbus.json
[
    {
        "id": "a86bcf45ecc2ba5d",
        "type": "tab",
        "label": "Arduino_DHT_Modbus",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9859bcd8a9c635d2",
        "type": "tcp in",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "server": "server",
        "host": "",
        "port": "4058",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "tls": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "e49eb1fe368633fe"
            ]
        ]
    },
    {
        "id": "e49eb1fe368633fe",
        "type": "function",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "func": "var data=msg.payload;\nvar temp=data.split(\",\");\nvar out={};\nout[\"temperature\"]=parseFloat(temp[0]);\nout[\"humidity\"]=parseFloat(temp[1]);\nout[\"fan\"]=temp[2];\nmsg.payload=out;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "f1c767f3de8f8964",
                "b5250bcefdc4ec53",
                "4a2ed11c077b6ea5",
                "76b1fb5a834e715b",
                "0b5885934d0c0840"
            ]
        ]
    },
    {
        "id": "f1c767f3de8f8964",
        "type": "ui_gauge",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "group": "559c71c4cb51f44b",
        "order": 1,
        "width": "12",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{payload.temperature}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "b5250bcefdc4ec53",
        "type": "ui_gauge",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "group": "559c71c4cb51f44b",
        "order": 2,
        "width": "12",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "155bd369d7c6022d",
        "type": "ui_chart",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "group": "559c71c4cb51f44b",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Temperature Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4a2ed11c077b6ea5",
        "type": "change",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "155bd369d7c6022d"
            ]
        ]
    },
    {
        "id": "76b1fb5a834e715b",
        "type": "change",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "b4975677d792c6b8"
            ]
        ]
    },
    {
        "id": "b4975677d792c6b8",
        "type": "ui_chart",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "group": "559c71c4cb51f44b",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Humidity Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "692d1e32341b8610",
        "type": "function",
        "z": "a86bcf45ecc2ba5d",
        "name": "Trigger Fan animate ON",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"start\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "7e153499e04de473",
                "f4c022b41c3b18ec",
                "bbca0e907d6fd493"
            ]
        ]
    },
    {
        "id": "b88920fe63407d59",
        "type": "function",
        "z": "a86bcf45ecc2ba5d",
        "name": "Trigger Fan animate OFF",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"stop\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 500,
        "wires": [
            [
                "7e153499e04de473",
                "2b1db8da06bedd78",
                "bbca0e907d6fd493"
            ]
        ]
    },
    {
        "id": "7e153499e04de473",
        "type": "ui_svg_graphics",
        "z": "a86bcf45ecc2ba5d",
        "group": "c040bdbae0408d09",
        "order": 1,
        "width": "5",
        "height": "4",
        "svgString": "<svg xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" viewBox=\"42.70819854736328 52.25726318359375 40.49138641357422 45.51356887817383\" version=\"1.1\" id=\"svg5\" sodipodi:docname=\"Home_Automation.svg\" inkscape:version=\"1.1.1 (3bf5ae0d25, 2021-09-20)\" preserveAspectRatio=\"xMinYMin meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"148\" height=\"105\" style=\"fill:none;stroke:none\" />\n  <sodipodi:namedview id=\"namedview7\" pagecolor=\"#ffffff\" bordercolor=\"#666666\" borderopacity=\"1.0\" inkscape:pageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" inkscape:document-units=\"mm\" showgrid=\"false\" inkscape:zoom=\"1.4110391\" inkscape:cx=\"380.92495\" inkscape:cy=\"207.29404\" inkscape:window-width=\"1366\" inkscape:window-height=\"745\" inkscape:window-x=\"-8\" inkscape:window-y=\"-8\" inkscape:window-maximized=\"1\" inkscape:current-layer=\"layer1\" />\n  <defs id=\"defs2\" />\n  <g inkscape:label=\"Layer 1\" inkscape:groupmode=\"layer\" id=\"layer1\">\n    <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 Z\" id=\"path218\" />\n    <path style=\"fill:#c7c7c7;stroke-width:0.0349644\" d=\"M 46.433791,86.087841 81.363237,71.472717 V 96.22752 H 46.433791 Z\" id=\"path220\" />\n    <path style=\"fill:#c2c2c2;stroke-width:0.0349644\" d=\"M 46.433791,87.556346 81.363237,72.941223 V 96.22752 H 46.433791 Z\" id=\"path222\" />\n    <path style=\"fill:#bdbdbd;stroke-width:0.0349644\" d=\"M 46.433791,89.724139 81.363237,75.109016 V 96.22752 H 46.433791 Z\" id=\"path224\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 V 61.298074\" id=\"path226\" />\n    <path style=\"display:inline;fill:#7f7f7f;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 70.034768,93.640153 -4.055872,1.118861 H 61.783167 L 57.727295,93.640153 54.090997,91.542289 51.084058,88.605278 48.951229,84.899051 47.867332,80.843179 V 76.64745 l 1.118861,-4.1258 2.097865,-3.636299 2.93701,-2.93701 3.706227,-2.132829 4.055872,-1.083897 h 4.195729 l 4.125801,1.083897 3.636298,2.132829 2.937011,2.93701 2.132829,3.636299 1.083896,4.1258 v 4.195729 l -1.083896,4.055872 -2.132829,3.706227 -2.937011,2.937011 z\" id=\"path228\" />\n    <path style=\"display:inline;fill:#191919;stroke-width:0.0349644\" d=\"m 69.755052,93.010794 -3.846085,1.013968 h -4.055871 l -3.846085,-1.013968 -3.496441,-2.027936 -2.867082,-2.867082 -2.027936,-3.496441 -1.013968,-3.846085 0.03496,-4.055871 0.979003,-3.916014 2.027936,-3.426512 2.867082,-2.867082 3.496441,-2.027936 3.846085,-1.013968 h 4.055871 l 3.846085,1.013968 3.496441,2.027936 2.867082,2.867082 2.027936,3.496441 1.013968,3.846085 v 4.055871 l -1.013968,3.846085 -2.027936,3.496441 -2.867082,2.867082 z\" id=\"path230\" />\n    <g id=\"fan\">\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 v 12.097686 z\" id=\"path232\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 66.32854,93.290509 -0.209786,-0.349644 -0.209787,-0.349644 -0.209786,-0.384609 -0.174822,-0.349644 -0.174822,-0.349644 -0.139858,-0.384608 -0.139857,-0.384609 -0.139858,-0.384608 -0.104893,-0.384609 -0.06993,-0.384608 -0.104893,-0.384609 -0.03496,-0.384608 -0.06993,-0.384609 -0.03496,-0.419573 v -0.384608 l -0.03496,-0.384609 0.03496,-0.419573 v -0.384608 l 0.03496,-0.384609 0.06993,-0.384608 0.03496,-0.419573 0.104893,-0.384609 0.06993,-0.384608 0.104893,-0.384609 0.139858,-0.384608 0.139857,-0.349644 0.139858,-0.384609 0.174822,-0.384608 0.174822,-0.349644 0.209786,-0.349645 0.209787,-0.349644 0.209786,-0.349644 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 -0.31468 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 z\" id=\"path234\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 4.895017\" id=\"path236\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 10.489323,6.083807 z\" id=\"path238\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 h -0.419573 -0.419573 -0.419573 l -0.384608,-0.03496 -0.419573,-0.03496 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.104893 -0.384608,-0.139858 -0.384609,-0.104893 -0.349644,-0.139858 -0.384608,-0.174822 -0.349644,-0.174822 -0.349645,-0.174822 -0.349644,-0.174822 -0.349644,-0.209786 -0.349644,-0.209787 -0.31468,-0.244751 -0.314679,-0.244751 -0.31468,-0.24475 -0.31468,-0.279716 -0.279715,-0.279715 -0.279715,-0.244751 -0.279715,-0.31468 -0.244751,-0.314679 -0.244751,-0.31468 -0.244751,-0.31468 -0.244751,-0.349644 -0.209786,-0.314679 -0.209787,-0.384609 -0.174822,-0.349644 -0.139858,0.244751 -0.174822,0.279715 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.279716 -0.174823,0.24475 -0.139857,0.244751 -0.139858,0.279716 -0.139857,0.24475 -0.174823,0.279716 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.279715 0.139858,-0.244751 0.174822,-0.279716 0.139858,-0.24475 0.139857,-0.279716 0.174822,-0.244751 0.139858,-0.279715 z\" id=\"path240\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 2.447509,-4.195729\" id=\"path242\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 10.559252,-6.083807 z\" id=\"path244\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -0.209786,0.384608 -0.209787,0.349644 -0.209786,0.349644 -0.209787,0.31468 -0.24475,0.349644 -0.244751,0.31468 -0.279716,0.279715 -0.24475,0.31468 -0.31468,0.279715 -0.279715,0.279715 -0.279716,0.279716 -0.314679,0.244751 -0.31468,0.24475 -0.31468,0.209787 -0.349644,0.209786 -0.31468,0.209787 -0.349644,0.209786 -0.384608,0.174822 -0.349644,0.174822 -0.349644,0.139858 -0.384609,0.139858 -0.384608,0.139857 -0.384609,0.104894 -0.384608,0.104893 -0.384609,0.104893 -0.384608,0.06993 -0.384609,0.06993 -0.419573,0.03496 h -0.419573 l -0.384608,0.03496 h -0.384609 l -0.419573,-0.03496 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 0.139858,0.244751 0.139857,0.279716 0.174823,0.279715 0.139857,0.244751 0.139858,0.279715 0.139857,0.244751 0.174823,0.244751 0.139857,0.279715 0.139858,0.244751 0.139857,0.279715 0.174822,0.279715 0.139858,0.244751 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139857,-0.279715 -0.139858,-0.244751 -0.174822,-0.279716 -0.139858,-0.24475 -0.139857,-0.279716 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139858,-0.279715 -0.139857,-0.244751 -0.174822,-0.279715 -0.139858,-0.244751 z\" id=\"path246\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -2.447509,-4.195729\" id=\"path248\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 61.433523,64.20012 V 76.297806 H 66.32854 V 64.20012 Z\" id=\"path250\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 61.433523,64.20012 0.209786,0.349644 0.209787,0.349644 0.209786,0.384609 0.174822,0.349644 0.139858,0.349644 0.174822,0.384608 0.139858,0.384609 0.104893,0.384608 0.104893,0.384609 0.104893,0.384608 0.06993,0.384609 0.06993,0.384609 0.06993,0.384608 v 0.419573 l 0.03496,0.384608 v 0.384609 0.419573 l -0.03496,0.384608 v 0.384609 l -0.06993,0.384608 -0.06993,0.419573 -0.06993,0.384609 -0.104893,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.139858,0.349644 -0.174822,0.384609 -0.139858,0.384608 -0.174822,0.349645 -0.209786,0.349644 -0.209787,0.349644 -0.209786,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 0.314679 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 z\" id=\"path252\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 61.433523,64.20012 v 12.097686 h 4.895017 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -4.895017\" id=\"path254\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -10.489323,-6.083807 z\" id=\"path256\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 h 0.419573 0.419573 0.419573 l 0.384608,0.03496 0.419573,0.03496 0.384609,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.104893 0.384608,0.139858 0.384609,0.104893 0.349644,0.139858 0.384608,0.174822 0.349645,0.174822 0.349644,0.174822 0.349644,0.174822 0.349644,0.209787 0.349644,0.209786 0.31468,0.244751 0.314679,0.244751 0.31468,0.244751 0.31468,0.279715 0.279715,0.279715 0.279715,0.244751 0.279716,0.31468 0.24475,0.314679 0.244751,0.31468 0.244751,0.31468 0.244751,0.349644 0.209787,0.31468 0.209786,0.384608 0.174822,0.349644 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279715 0.139858,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.244751 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279716 0.139858,-0.244751 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -0.139858,0.279715 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139857,0.279715 -0.174822,0.244751 -0.139858,0.279716 -0.139858,0.24475 -0.174822,0.279716 -0.139857,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139858,0.279715 z\" id=\"path258\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -2.447509,4.195729\" id=\"path260\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 52.482634,88.115776 62.971957,82.031969 60.594377,77.83624 50.035125,83.920047 Z\" id=\"path262\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 52.482634,88.115776 0.209786,-0.384608 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.31468 0.244751,-0.349644 0.244751,-0.31468 0.279715,-0.279715 0.244751,-0.31468 0.314679,-0.279715 0.279716,-0.279715 0.279715,-0.279716 0.31468,-0.24475 0.314679,-0.244751 0.31468,-0.209787 0.349644,-0.209786 0.349644,-0.209787 0.31468,-0.209786 0.384608,-0.174822 0.349644,-0.174822 0.349645,-0.139858 0.384608,-0.139857 0.384609,-0.139858 0.384608,-0.104893 0.384609,-0.104894 0.384608,-0.104893 0.384609,-0.06993 0.384608,-0.06993 0.419573,-0.03496 h 0.419573 l 0.384608,-0.03496 h 0.384609 l 0.419573,0.03496 L 62.832099,81.752256 62.692242,81.507505 62.51742,81.22779 62.377562,80.983039 62.237704,80.738288 62.097847,80.458573 61.923025,80.178857 61.783167,79.934107 61.643309,79.654391 61.503452,79.40964 61.32863,79.16489 61.188772,78.885174 61.048914,78.640423 60.909057,78.360708 60.734235,78.080993 60.594377,77.836242 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 0.174822,0.244751 0.139858,0.279715 0.174822,0.244751 0.139858,0.279716 0.139857,0.24475 0.174822,0.279716 0.139858,0.244751 0.139858,0.279715 0.174822,0.244751 0.139857,0.279715 0.174822,0.244751 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 z\" id=\"path264\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 52.482634,88.115776 10.489323,-6.083807 -2.37758,-4.195729 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 2.447509,4.195729\" id=\"path266\" />\n      <circle style=\"fill:#666666;stroke:#4c4c4c;stroke-width:0.0699288\" cx=\"63.881031\" cy=\"78.745316\" r=\"4.2656579\" id=\"circle268\" />\n      <circle style=\"fill:#e5e5e5;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"3.6362987\" id=\"circle270\" />\n      <circle style=\"fill:#7f7f7f;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"1.18879\" id=\"circle272\" />\n    </g>\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 48.601584,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path274\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 51.50363,95.318445 h 2.167794 v 0.664324 H 51.50363 Z\" id=\"path276\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 56.608434,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path278\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 79.160479,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path280\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 76.258433,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path282\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 71.153629,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path284\" />\n    <g id=\"g1041\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,13.161235)\">\n      <g id=\"g956\">\n      </g>\n      <g id=\"g962\">\n      </g>\n      <g id=\"g978\" />\n      <g id=\"g980\" />\n      <g id=\"g982\" />\n      <g id=\"g984\" />\n      <g id=\"g986\" />\n      <g id=\"g988\" />\n      <g id=\"g990\" />\n      <g id=\"g992\" />\n      <g id=\"g994\" />\n      <g id=\"g996\" />\n      <g id=\"g998\" />\n      <g id=\"g1000\" />\n      <g id=\"g1002\" />\n      <g id=\"g1004\" />\n      <g id=\"g1006\" />\n    </g>\n    <g id=\"g1041-3\" transform=\"matrix(0.07036648,0,0,0.07036648,47.855062,13.165176)\">\n      <g id=\"g956-6\">\n      </g>\n      <g id=\"g962-3\">\n      </g>\n      <g id=\"g978-5\" />\n      <g id=\"g980-5\" />\n      <g id=\"g982-1\" />\n      <g id=\"g984-9\" />\n      <g id=\"g986-1\" />\n      <g id=\"g988-5\" />\n      <g id=\"g990-3\" />\n      <g id=\"g992-4\" />\n      <g id=\"g994-0\" />\n      <g id=\"g996-8\" />\n      <g id=\"g998-2\" />\n      <g id=\"g1000-4\" />\n      <g id=\"g1002-1\" />\n      <g id=\"g1004-2\" />\n      <g id=\"g1006-5\" />\n    </g>\n    <g id=\"g186\">\n      <g id=\"g956-6-9\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n      </g>\n      <g id=\"g962-3-1\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n      </g>\n    </g>\n    <g id=\"g978-5-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g980-5-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g982-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g984-9-8\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g986-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g988-5-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g990-3-0\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g992-4-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g994-0-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g996-8-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g998-2-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1000-4-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1002-1-9\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1004-2-2\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1006-5-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <text xml:space=\"preserve\" style=\"font-style:normal;font-weight:normal;font-size:5.9493px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\" id=\"text4137-7-6\">\n      <tspan sodipodi:role=\"line\" id=\"tspan4135-9-7\" style=\"stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\">Fan</tspan>\n    </text>\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [
            {
                "id": "rotate_fan",
                "targetId": "fan",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,64,79",
                "toValue": "360,64,79",
                "trigger": "msg",
                "duration": "1",
                "durationUnit": "s",
                "repeatCount": "0",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            }
        ],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 840,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0df2ebc5f14bb5b3",
        "type": "inject",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "692d1e32341b8610"
            ]
        ]
    },
    {
        "id": "80d38df1813ad33c",
        "type": "inject",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "b88920fe63407d59"
            ]
        ]
    },
    {
        "id": "15a01cd421e5ea28",
        "type": "ui_statetrail",
        "z": "a86bcf45ecc2ba5d",
        "group": "c040bdbae0408d09",
        "order": 2,
        "width": "17",
        "height": "5",
        "name": "",
        "label": "Fan State",
        "states": [
            {
                "state": true,
                "col": "#009933",
                "t": "bool",
                "label": "ON"
            },
            {
                "state": false,
                "col": "#999999",
                "t": "bool",
                "label": "OFF"
            }
        ],
        "periodLimit": "30",
        "periodLimitUnit": "60",
        "timeformat": "HH:mm:ss",
        "tickmarks": 4,
        "exactticks": false,
        "persist": false,
        "legend": 1,
        "combine": true,
        "blanklabel": "",
        "x": 540,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0b5885934d0c0840",
        "type": "switch",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "property": "payload.fan",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "b826df899a8d75a1"
            ],
            [
                "3073ba976e26d593"
            ]
        ]
    },
    {
        "id": "b826df899a8d75a1",
        "type": "change",
        "z": "a86bcf45ecc2ba5d",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "d1293a641a08866e"
            ]
        ]
    },
    {
        "id": "3073ba976e26d593",
        "type": "change",
        "z": "a86bcf45ecc2ba5d",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "0d021061530d92cf"
            ]
        ]
    },
    {
        "id": "f4c022b41c3b18ec",
        "type": "change",
        "z": "a86bcf45ecc2ba5d",
        "name": "Set Fan Before",
        "rules": [
            {
                "t": "set",
                "p": "fan_before",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2b1db8da06bedd78",
        "type": "change",
        "z": "a86bcf45ecc2ba5d",
        "name": "Set Fan Before",
        "rules": [
            {
                "t": "set",
                "p": "fan_before",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "067337dfe0a7b940",
        "type": "inject",
        "z": "a86bcf45ecc2ba5d",
        "name": "Initial",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "2b1db8da06bedd78"
            ]
        ]
    },
    {
        "id": "d1293a641a08866e",
        "type": "switch",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "fan_before",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "692d1e32341b8610",
                "15a01cd421e5ea28"
            ]
        ]
    },
    {
        "id": "0d021061530d92cf",
        "type": "switch",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "fan_before",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "b88920fe63407d59",
                "15a01cd421e5ea28"
            ]
        ]
    },
    {
        "id": "bbca0e907d6fd493",
        "type": "debug",
        "z": "a86bcf45ecc2ba5d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "559c71c4cb51f44b",
        "type": "ui_group",
        "name": "Temperature And Humidity",
        "tab": "8e031f0621abe57e",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c040bdbae0408d09",
        "type": "ui_group",
        "name": "Fan Status",
        "tab": "8e031f0621abe57e",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e031f0621abe57e",
        "type": "ui_tab",
        "name": "Arduino Monitor",
        "icon": "dashboard",
        "order": 12,
        "disabled": false,
        "hidden": false
    }
]